.brand {
  background: transparent;
  z-index: 1;
}

.brandTitle {
  color: #fff;
  font-weight: 600;
}

.brandMenu {
  color: #fff;
}

/* home */
.brandBackground {
}

.bannerText {
  font-size: 6rem;
  color: white;
  width: 50%;
  font-weight: 800;
  margin-top: 50px;
  z-index: 1;
  position: relative;
}

.bannerImg {
  width: -webkit-fill-available;
  position: absolute;
  right: 20px;
  top: 0px;
}

.bannerLine {
  top: 20px;
  border-top: 10px solid #fff;
  width: 10%;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.bannerMessage {
  color: #fff;
  width: 50%;
  top: 3rem;
  position: relative;
  z-index: 1;
}
